json code for ml model
[{"id":"48a8fd9c.8777e4","type":"tab","label":"turbine output energy","disabled":false,"info":""},{"id":"be74509b.9bf41","type":"http request","z":"48a8fd9c.8777e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":200,"wires":[["8885a106.3a825"]]},{"id":"8885a106.3a825","type":"function","z":"48a8fd9c.8777e4","name":"Pre Prediction","func":"var Airspeed = global.get('Airspeed')\nvar AirDensity = global.get('AirDensity')\nvar Temperature = global.get('Temperature')\nvar token=msg.payload.access_token\nvar instance_id=\"8038a49f-4ee8-47ad-a86d-f4dccf531325\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Airspeed\", \"AirDensity\", \"Temperature\"], \"values\": [[Airspeed,AirDensity,Temperature]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["29e5183f.0000d8"]]},{"id":"29e5183f.0000d8","type":"http request","z":"48a8fd9c.8777e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/b3f53d52-2cb8-42d0-8af3-50271994e364/predictions","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":360,"wires":[["5da5ba56.b15fe4"]]},{"id":"5f471bfc.f09dd4","type":"ui_text","z":"48a8fd9c.8777e4","group":"7a5e14d.1f536ec","order":1,"width":0,"height":0,"name":"","label":"Energy output of turbine  : Prediction is","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":160,"wires":[]},{"id":"5da5ba56.b15fe4","type":"function","z":"48a8fd9c.8777e4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["5f471bfc.f09dd4","9830aaf3.2a65a8","dfe7af7f.267a1","75042dc6.4f6654"]]},{"id":"19059438.b5645c","type":"ui_form","z":"48a8fd9c.8777e4","name":"","label":"","group":"7a5e14d.1f536ec","order":2,"width":0,"height":0,"options":[{"label":"Airspeed in km/h","value":"AS","type":"number","required":true,"rows":null},{"label":"AirDensity in kg m3","value":"AD","type":"number","required":true,"rows":null},{"label":"Temperature in deg c","value":"T","type":"number","required":true,"rows":null}],"formValue":{"AS":"","AD":"","T":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":560,"wires":[["f8540579.efbe88"]]},{"id":"f8540579.efbe88","type":"function","z":"48a8fd9c.8777e4","name":"","func":"global.set(\"Airspeed\",msg.payload.AS)\nglobal.set(\"AirDensity\",msg.payload.AD)\nglobal.set(\"Temperature\",msg.payload.T)\nvar apikey=\"G1H1Xad3qJMmm97Sl3fRnMYqZZnbI9gWci_ruXUQrg4D\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["be74509b.9bf41"]]},{"id":"9830aaf3.2a65a8","type":"debug","z":"48a8fd9c.8777e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":460,"wires":[]},{"id":"dfe7af7f.267a1","type":"dygraph","z":"48a8fd9c.8777e4","name":"output","title":"                                                                   output","xlabel":"                                                        speed - km/h","ylabel":"Output Energy - KW","legend":"false","nodata":" Enter required data to get output energy","dot":true,"ymin":"0","ymax":"3000","colors":["#f80d0d","#f70808","#ff7f0e","#2ca02c","#98df8a","#ff0505","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":260,"wires":[["4801fc20.65b294"]]},{"id":"4801fc20.65b294","type":"ui_template","z":"48a8fd9c.8777e4","group":"7a5e14d.1f536ec","name":"","order":4,"width":8,"height":8,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1100,"y":440,"wires":[[]]},{"id":"75042dc6.4f6654","type":"ui_text","z":"48a8fd9c.8777e4","group":"7a5e14d.1f536ec","order":19,"width":0,"height":0,"name":"","label":"Turbine will stop after saturation point that is 90 km/h speed due to mechanical limitations of turbine  ","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":560,"wires":[]},{"id":"7a5e14d.1f536ec","type":"ui_group","z":"","name":"prediction","tab":"8fcd7f81.f0bc2","order":1,"disp":true,"width":12,"collapse":false},{"id":"8fcd7f81.f0bc2","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]
